<%= form_with(model: cocktail, local: true) do |form| %>
  <% if cocktail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cocktail.errors.count, "error") %> prohibited this cocktail from being saved:</h2>

      <ul>
      <% cocktail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.select :category, ["Ordinary Drink", "Cocktail", "Milk / Float / Shake", "Other/Unknown", "Cocoa", "Shot", "Coffee / Tea", "Homemade Liqueur", "Punch / Party Drink", "Beer", "Soft Drink / Soda"] %>
  </div>

  <div class="field">
    <%= form.radio_button :alcoholic, "Alcoholic", checked: true %>
    <%= form.label :alcoholic, "Alcoholic" %>
    <%= form.radio_button :alcoholic, "Non alcoholic" %>
    <%= form.label :alcoholic, "Non alcoholic" %>
  </div>

  <div class="field">
    <%= form.label :glass %>
    <%= form.select :glass, ["Balloon Glass", "Beer Glass", "Beer mug", "Beer pilsner", "Brandy snifter", "Champagne flute", "Cocktail glass", "Coffee mug", "Collins glass", "Copper Mug", "Cordial glass", "Coupe Glass", "Highball glass", "Hurricane glass", "Irish coffee cup", "Jar", "Margarita glass", "Margarita/Coupette glass", "Martini Glass", "Mason jar",	"Nick and Nora Glass", "Old-fashioned glass", "Parfait glass", "Pint glass", "Pitcher", "Pousse cafe glass", "Punch bowl", "Shot glass", "Whiskey Glass", "Whiskey sour glass", "White wine glass", "Wine Glass"] %>
  </div>

  <div class="field">
    <%= form.label :instructions %>
    <%= form.text_area :instructions %>
  </div>

  <h3>Ingredients & Measures</h3>

  <div class="form-grid-containers">

  <% 15.times do  |i| %>

    <div class="field">
      <%= form.label :"#{"measure"}#{i}", "Measure" %>
      <%= form.text_field :"#{"measure"}#{i}" %>
    </div>

    <div class="field">
      <%= form.label :"#{"ingredient"}#{i}", "Ingredient" %>
      <%= form.text_field :"#{"ingredient"}#{i}" %>
    </div>

  <% end %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  
<% end %>
