<div class='edit-hide'>
  <div class='form-grid'>
    <%= form_with model: cocktail, remote: true, method: :patch  do |form| %>
      <% if cocktail.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(cocktail.errors.count, "error") %> prohibited this cocktail from being saved:</h2>

          <ul>
          <% cocktail.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>

      <div class="field top-space-5">
        <%= form.label :cocktail_photo %>
        <%= form.file_field :cocktail_photo%>
      </div>

      <div class='top-space-15'>
        <h3>Measures & Ingredients</h3>
      </div>

      <div class="form-grid-containers">

      <% 15.times do  |i| %>


          <%= form.text_field :"#{"measure"}#{i+1}", :class => "field form-blank", :size => '5' %>

          <%= form.text_field :"#{"ingredient"}#{i+1}", :class => "field form-blank", :size => '5' %>


      <% end %>

      </div>

      <div class="field">
        <%= form.label :glass %>
        <%= form.text_field :glass %>
      </div>

      <div class="field">
        <div class='top-space-15'>
          <h3><%= form.label :instructions %></h3>
        </div>
        <%= form.text_area :instructions %>
      </div>

      <div class="actions">
        <%= form.submit :class=>'button' %>
      </div>

      
    <% end %>
  </div>
</div>