
<h2>My Favorites</h2>

<div class="card-grid">
  <% if @cocktails.any? %>
    <% @cocktails.each do |cocktail| %>
      <div class='card'>
        <% if cocktail.cocktail_photo.attached? %>
          <%= image_tag cocktail.cocktail_photo, :class => 'drink-thumb' %>
        <% end %>
          <div class='card-name'>
            <h3><%= link_to cocktail.name, cocktail, remote: true, class: 'show' %></h3>
          </div>
          <div class='form-here'>
          </div>
          <div class='card-ingredients'>
            <div class='card-hidden-text'>
              <h4><strong>Ingredients:</strong></h4>
            </div>
            <% i = 1 %>
            <% while !cocktail['ingredient' << i.to_s].nil? do %>
              <% if i > 4 %>
                <p><span class='card-hidden-text ingredients-item'><%= cocktail['measure' << i.to_s] %></span>
                <span class='card-hidden-text ingredients-item'><%= cocktail['ingredient' << i.to_s] %></span></p>
              <% else %>
                <p><span class='card-hidden-text ingredients-item'><%= cocktail['measure' << i.to_s] %></span>
                <span class='ingredients-item'><%= cocktail['ingredient' << i.to_s] %></span></p>
              <% end %>
              <% i = i + 1 %>
            <% end %>

            <div class='card-hidden-text'>
              <h4><strong>Instructions:</strong></h4>
                <p><%= cocktail.instructions %></p>
              <h4><strong>Glass:</strong></h4>
                <p><%= cocktail.glass%></p>
            </div>

          </div>
            
          <div class='card-buttons'>
            <%= link_to 'Details', cocktail, :class => 'show', remote: true %>
            <%= link_to 'Edit', edit_cocktail_path(cocktail), :remote => true, :class => 'edit' %>
            <%= link_to 'Remove', cocktail, :class => 'delete', method: :delete, data: { confirm: 'Are you sure?', remote: true } %>
          </div>
      </div>
    <% end %>
  <% else %>
    <p>No favorites chosen yet.</p>
  <% end %>
</div>

<div class='pagination'>
  <%= will_paginate @cocktails %>
</div>

