
<p>
  <strong>Name:</strong>
  <%= @cocktail.name %>
</p>
<% if !@cocktail.api_image_url.nil? %>
  <%= image_tag @cocktail.api_image_url, :class => 'drink-thumb' %>
<% end %>
<% if @cocktail.cocktail_photo.attached? %>
  <%= image_tag @cocktail.cocktail_photo, :class => 'drink-thumb' %>
<% end %>
<p>
  <strong>Category:</strong>
  <%= @cocktail.category %>
</p>

<p>
  <strong>Alcoholic:</strong>
  <%= @cocktail.alcoholic%>
</p>

<p>
  <strong>Glass:</strong>
  <%= @cocktail.glass%>
</p>


<p>
  <strong>Instructions:</strong>
  <%= @cocktail.instructions %>
</p>

<p>  
  <strong>Ingredients:</strong>
</p>
<div class="form-grid-containers">
  <% 15.times do |i| %>
    <div>
      <%= @cocktail[:"#{"measure"}#{i+1}"] %>
    </div>
    <div>
      <%= @cocktail[:"#{"ingredient"}#{i+1}"] %>
    </div>
  <% end %>
</div>

<p>
  <strong>User:</strong>
  <%= @cocktail.user_id %>
</p>

<%= link_to 'Edit', edit_cocktail_path(@cocktail) %> |
<%= link_to 'Back', cocktails_path %>
