<h1>Search for Cocktails</h1>

   <%= form_tag(search_results_page_path, method: :get) do %>
        <%= text_field_tag(:search, params[:search]) %>
      <%= button_tag "Search", :class => 'btn', :name => nil %>
    <% end %> 
  

  <% if @drinks.any? %>
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Alcohol</th>
          <th>Type</th>
          <th>Glass</th>
        </tr>
      </thead>
        <% @drinks["drinks"].each do |drink| %>
          <tr>
            <th rowspan="3" scope="rowgroup"><%= image_tag drink["strDrinkThumb"], :class => 'drink-thumb' %></th>
            <td><%= drink["strDrink"] %></td>
            <td><%= drink["strAlcoholic"] %></td>
            <td><%= drink["strCategory"] %></td>
            <td><%= drink["strGlass"] %></td>
            <td><%= button_to "Add Favorite", { :controller => "cocktails", :action => "create", :cocktail => {:name => drink["strDrink"], :category => drink["strCategory"], :alcoholic => drink["strAlcoholic"], :glass => drink["strGlass"], :instructions => drink["strInstructions"], :ingredients => Page.ingredient_combine(drink), :api_id_drink => drink["idDrink"], :api_image_url => drink["strDrinkThumb"] }}, {:method => :post} %></td>
          </tr>
          <tr>
            <td colspan="4" scope="colgroup" ><%= drink["strInstructions"] %> </td>
          </tr>
          <% i = 1 %>
          <% while !drink["strIngredient" + i.to_s].nil? do %>
            <tr>
              <% if i > 1 %>
                <td></td>
              <% end %>
              <td><%= drink["strIngredient" + i.to_s] %> </td>
              <td><%= drink["strMeasure" + i.to_s] %> </td>
            </tr>
            <% i = i + 1 %>
          <% end %>
        <% end %>
      <tbody>

      </tbody>
    </table>
  <% end %>

<br>
    <%= link_to 'Back to Favorites', root_path %>





