<h1>Search for Cocktails</h1>

<%= form_with do |form| %>
  <%= search_field_tag :search, params[:search], placeholder: "Search" %>
  <%= button_tag "Search" %>
<% end %>  

<% if @drinks.any? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Alcohol</th>
        <th>Type</th>
      </tr>
    </thead>
    

    <tbody>
      <% @drinks["drinks"].each do |drink| %>
        <tr>
          <td><%= drink["strDrink"] %></td>
          <td><%= drink["strAlcoholic"] %></td>
          <td><%= drink["strCategory"] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <p>Search for new drinks</p>
<% end %>

<br>




